*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    margin-block: 0;
    margin-inline: 0;

    padding: 0;
    padding-block: 0;
    padding-inline: 0;
}

:root {
    --base-background-darkColor: 168,144,254; /* rgb */
    --base-background-darkColor-alpha: 1;
    --base-background-lightColor: 234,141,141; /* rgb */
    --base-background-lightColor-alpha: 1;

    --base-font-color: rgba(255,255,255, 1);
    --base-font-color-NoAlpha: 255,255,255; /* rgb */
    --base-font-size: 2.4rem;

    /* CONST, do not ever change the name of this variable, JavaScript is using it! */
    --base-paint-container-bg-color: rgba(252,140,111, 1);
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(
        to top right, 
        rgba( var(--base-background-lightColor), var(--base-background-lightColor-alpha) ), 
        rgba( var(--base-background-darkColor), var(--base-background-darkColor-alpha) )
    );
    font-family: "Poppins", Tahoma, Verdana, sans-serif;
    font-size: var(--base-font-size);
    font-style: normal;
    font-weight: 600;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.paint-color-picker {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-evenly;
    left: 15vw;
    position: absolute;
    top: 15vh;
}

.paint-reset {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--base-paint-container-bg-color);
    border-radius: 9999px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0, 0.25);
    color: var(--base-font-color);
    cursor: pointer;
    display: flex;
    height: 125px;
    justify-content: center;
    opacity: 0.95;
    position: relative;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 125px;
}
.paint-reset:hover,
.paint-reset:active {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.25);
    opacity: 1;
    transform: scale(1.25) rotateZ(360deg);
}
.paint-reset:focus-visible {
    border: 10px solid var(--base-font-color);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.25);
    opacity: 1;
    outline: none;
    transform: scale(1.25) rotateZ(360deg);
}

.color-box {
    aspect-ratio: 1/1;
    border-radius: 9999px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0, 0.25);
    cursor: pointer;
    height: 50px;
    opacity: 0.95;
    transition: opacity 0.15s ease, transform 0.15s ease;
    width: 50px;
}
.color-box.active,
.color-box:hover,
.color-box:focus-within,
.color-box:focus,
.color-box:active {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.25);
    opacity: 1;
    transform: scale(1.5);
}
.color-box:focus-visible {
    border: 10px solid var(--base-font-color);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.25);
    opacity: 1;
    outline: none;
    transform: scale(1.5);
}

.color-red {
    background-color: red;
}

.color-green {
    background-color: green;
}

.color-blue {
    background-color: blue;
}

.color-white {
    background-color: white;
}

.color-paint-board-container {
    background-color: var(--base-paint-container-bg-color);
}

.paint-container::before {
    background-color: var(--base-paint-container-bg-color);
    content: "";
    display: block;
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 900px;
    z-index: -1;
}
.paint-container {
    align-content: start;
    aspect-ratio: 1/1;
    clip-path: circle(50%);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    justify-content: start;
    opacity: 0.8;
    position: relative;
    width: 900px;
}
.paint-container.cursor-paint {
    /* 
     * Cursor paint by icons8
     * <a target="_blank" href="https://icons8.com/icon/1059/paint">Paint</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    */
    cursor: url("./assets/icons8-cursorpaint.png") 0 50, crosshair !important;
}

.block {
    aspect-ratio: 1/1;
    background-color: var(--base-paint-container-bg-color);
    border-radius: 9999px;
    border: none !important;
    height: 10px;
    outline: none !important;
    width: 10px;
}


/*-------------------------------------------------------*/
/* Animations */
/*-------------------------------------------------------*/

.animation-container {
    height: 100%;
    width: 100%;
}

.animated-dot {
    aspect-ratio: 1/1;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top right, rgba(var(--base-font-color-NoAlpha), 0.75), rgba(var(--base-background-darkColor), 0.5));
    border-radius: 9999px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.animated-dot:nth-child(1) {
    animation: fallDown1 60s linear infinite;
    width: 20vw;
}
.animated-dot:nth-child(2) {
    animation: fallDown2 30s linear infinite;
    width: 5vw;
}

@keyframes fallDown1 {
    from { transform: translate(5vw, -20vw); }
    to { transform: translate(5vw, 105vh); }
}

@keyframes fallDown2 {
    from { transform: translate(90vw, -5vw); }
    to { transform: translate(90vw, 105vh); }
}


.animated-clock {
    align-items: center;
    animation: fallDownClockDot 45s linear infinite;
    color: rgba(var(--base-font-color-NoAlpha), 0.35);
    display: flex;
    font-size: calc(var(--base-font-size) * 1.25);
    justify-content: center;
    letter-spacing: 0.25rem;
    width: 12.5vw;
}

@keyframes fallDownClockDot {
    from { transform: translate(75vw, -20vw); }
    to { transform: translate(75vw, 105vh); }
}


